<div class="content_top__data">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center" width="30"></th>
                <th class="text-left">Параметр</th>
                <th class="text-center">Значение</th>
            </tr>
        </thead>
        <tbody class="table__tbody journal_body">
            <tr class="settings__list">
                <td class="text-center"></td>
                <td class="text-left">Разрешить создание новых аккаунтов</td>
                <td class="text-center"><input class="switch-button" type="checkbox" onchange="Settings__System.changeState(this, 1);return false;" <%-(typeof param_state[1] != 'undefined' ? (param_state[1] == 'true' ? 'checked="checked"' : '') : '')%> /></td>
            </tr>
            
        </tbody>
    </table>
</div>


<script>
    var Settings__System = {
        changeState(th, id) {
            var checked = ($(th).prop('checked') == true ? 1 : 0);
            $.get('/settings/state/'+id+'/'+checked, function(data) {
                
            }, 'json'); 
        },
        updateField(th, id) {
            $.post('/settings/update_num', {
                id: id,
                value: $(th).val()
            }, function(data) {
                console.log(data);
            }, 'json');
        }
    }

    $(function() {
       
    });
    
</script>