<div class="auth__verticalhelper"></div>
<div class="auth__content">
    <div class="auth__content-logo">
        <img src="/include/img/logo.png"/>
    </div>
    <% if (data.error) { %>
        <p class="auth__content-error">
            Во время регистрации произошла ошибка... Попробуйте в другой раз!
        </p>
    <% } %>
    <form class="auth__content-form" action="/auth/register" method="post">
        <input type="hidden" name="repath" value="<%=data.repath%>" />
        <div class="form-group">
            <input name="email" type="email" placeholder="E-mail" required="required">
        </div>
        <div class="form-group">
            <input name="username" type="text" placeholder="Имя" required="required">
        </div>
        <div class="form-group">
            <input name="password" type="password" placeholder="Пароль" required="required">
        </div>
        <div class="form-group">
            <button class="btn btn-primary full-width" type="submit">Регистрация</button>
        </div>
        <div class="form-group">
            <a class="auth__additional-link full-width" href="/auth?repath=<%=data.en_repath%>">← назад</a>
        </div>
    </form>
</div>