<% 
function format(o, n, x, s, c) {
    var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')',
        num = o.toFixed(Math.max(0, ~~n));

    return (c ? num.replace('.', c) : num).replace(new RegExp(re, 'g'), '$&' + (s || ','));
}
%> 
<div class="content_top__data">
    <form method="POST" action="/manufacture/edit/<%= id %>" id="editManufactureList__save_form">
        <table class="table table-striped table-hover table-sticky">
            <thead class="top_0">
                <tr class="standartizer_edit_listth">
                    <th colspan="2" class="text-left">№&nbsp;&nbsp;&nbsp;Наименование операции</th>
                    <th width="90" class="text-center">Кол-во рабочих</th>
                    <th width="100" class="text-center">Кол-во час</th>
                    <th width="170" class="text-center">Период</th>
                    <th width="30" class="text-center">Статус</th>
                    <th width="250" class="text-center">Прогресс</th>
                    <th width="100" class="text-center">% выполнения</th>
                    <th width="100" class="text-center">часов выполнено</th>
                </tr>
            </thead>
            <% for (let i in cats) { %>
                <% if (cats[i].parent_id == 0 && parseFloat(cats[i].allchildsum[0]) > 0) { %>
                    <%- include('edit_cats', {calcops: calcops, done: done, done_hours:done_hours, station_id: id, operation_sum: operation_sum, items:cats, item:cats[i], data:data }) %>
                <% } %>
            <% } %>
        </table>
    </form>
</div>
<script>
    $(function() {
        $('.tab-active #editManufactureList__save_form').submit(function(e) {
            var pdata = $(this).serializeArray();
            $.post('/manufacture/edit/<%= id %>', pdata, function(answer) {
                if (answer.ok === true) {
                    DSH.showInfo('Сохранение', 'Данные успешно сохранены!');
                    Tabs._unsetUnsaved();
                } else {
                    DSH.showInfo('Опачки!', 'Что-то пошло не так :)');
                }
            }, 'json');
            e.preventDefault();
        });
    });

    var ManufactureEditList = {
        toggleBody(e) {
            // .if_table__tbody-closed
            // .if_table__tbody-opened
            var thead = $(e).closest('thead');
            var tbody = $(e).closest('thead').next();
            if (tbody.hasClass('table__tbody-closed') == true) {
                tbody.removeClass('table__tbody-closed');
                thead.removeClass('table__thead-closed');

            } else {
                tbody.addClass('table__tbody-closed');
                thead.addClass('table__thead-closed');
                
            }
        },
        saveChanges() {
            $('.tab-active #editManufactureList__save_form').submit();
        },
        recalcProgressBar(th, id) {
            let val = $(th).val()
            $('.tab-active progress[name="progressDone_'+id+'"]').val($(th).val());
            
        }
    }
</script>