<div class="content_top__data">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <% if (access.includes('ol:viewList')) { %>
                    <th class="text-center" width="50"></th>
                <% } %>
                <% if (access.includes('ol:editLists')) { %>
                    <th class="text-center" width="30"></th>
                <% } %>
                <th class="text-center">№</th>
                <th class="text-left" width="100">№ ОЛ</th>
                <th class="text-left">Обозначение в РД</th>
                <th class="text-left">Тип станции</th>
                <th class="text-left">Подтип станции</th>
                <th class="text-left">Заказчик</th>
                <th class="text-left">Место установки станции</th>
                <th class="text-left">Проектный институт</th>
                <th class="text-center" width="30"></th>
                <th class="text-left">Автор</th>
                <% if (access.includes('ol:deleteLists')) { %>
                <th class="text-center" width="30"></th>
                <% } %>
            </tr>
        </thead>
        <tbody class="table__tbody ol_data_body">
            <% for (let i in items) { %>
                <%- include('line', {item:items[i]}) %>
            <% } %>
        </tbody>
    </table>
</div>

<script>
    var Olist = {
        deleteOL(id) {
            DSH.deleteConfirm('Вы уверены?', 'Вы точно хотите удалить выбранный опросный лист?', 'Нет', 'Да, удалить!', function() {
                $.get('/ol/delete/'+id, function(data){
                    if (data.ok === true) {
                        $('.tab-active .ol__list[data-id="'+id+'"]').remove();
                    }
                },'json')
            });
        },
        closeList(id, state) {
            $.get('/ol/close/'+id+'/'+state, function() {
                Tabs._updateCurrent();
            }, 'json');
        }
    }
</script>