<div class="modal-header">
        <h4 class="modal-title text-left"><i class="fal fa-users-class modal-icon"></i>&nbsp;Редактирование участка</h4>
    </div>
    <div class="modal-body">
        <div class="tabs-container">
            <form method="POST" action="/workers/sections/edit/<%=data.id%>" id="workers-sections__edit_form">

                <div class="form-group">
                    <label>Наименование участка</label>
                    <input type="text" value="<%=data.name%>" name="name" required="required" />
                    <span class="help-block">Например: <i>Вспомогательный участок</i></span>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-right">
                        <a href="#" class="btn btn-white" rel="modal:close">Закрыть</a>
                        <button type="submit" class="btn btn-primary">Сохранить </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <script>
        $(function(){
            $('#workers-sections__edit_form').validate({
                submitHandler: function(form) {
                    $(form).ajaxSubmit({
                        success: function(data) {
                            $.modal.close();
                            if (data.ok == true) {
                                swal({
                                    title: "Отлично!",
                                    text: "Участок успешно отредактирован!",
                                    type: "success"
                                }, function () {
                                    Tabs.refreshTab(Tabs._currentTabId());
                                });
                            } else {
                                swal("Опачки!", "Что-то пошло не так :)", "error");
                            }
                        }
                    });
                }
            });
        });
    </script>