<div class="modal-header">
        <h4 class="modal-title text-left">Редактирование файла</h4>
    </div>
    <div class="modal-body">
        <div class="tabs-container">
            <form method="POST" action="/smk/files/edit/<%=id%>" id="smk-files__edit_form">
                <div class="form-group">
                    <label>Имя файла</label>
                    <input type="text" name="name" value="<%=name%>" required="required" />
                </div>

                <div class="form-group">
                    <label>Комментарий</label>
                    <input type="text" name="comment" value="<%=comment%>" />
                </div>

                <div class="form-group">
                    <label>Разделы</label>
                    <select name="sections" multiple size="6" required="required" style="max-width: 100%;width: 100%;">
                        <% for (let i in cats) { %>
                            <% if (cats[i].parent_id == 0) { %>
                                <%- include('cats_option', {items:cats, item:cats[i], add:'', cat:cat}) %>
                            <% } %>
                        <% } %>
                    </select>
                    <span class="help-block"><i>Для выбора нескольких значений используйте клавишу <b>CTRL</b>.</i></span>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-right">
                        <a href="#" class="btn btn-white" rel="modal:close">Закрыть</a>
                        <button type="submit" class="btn btn-primary">Сохранить </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <script>
        $(function(){

            $('#smk-files__edit_form').validate({
                submitHandler: function(form) {
                    $(form).ajaxSubmit({
                        success: function(data) {
                            $.modal.close();
                            if (data.ok == true) {
                                swal({
                                    title: "Отлично!",
                                    text: "Файл успешно изменен!",
                                    type: "success"
                                }, function () {
                                    Tabs.refreshTab(Tabs._currentTabId());
                                });
                            } else {
                                swal("Опачки!", "Что-то пошло не так :)", "error");
                            }
                        }
                    });
                },
                rules: {
                    sections: {
                        required: true,
                    },
                    name: {
                        required: true,
                    }
                }
            });
        });
    </script>